@media (max-width: 1280px) {
    /* Adjust navigation menu */
    nav {
        flex-wrap: wrap;
        padding: 10px;
    }

    #brand-name {
        font-size: 36px;
        margin-right: 80px;
        left: 50px;
    }

    .navigation a {
        font-size: 80%;
        margin-right: 1rem;
    }

    #search-bar {
        width: 150px;
    }

    /* Adjust home-title section */
    .home-title {
        top: 150px;
        left: 40px;
    }

    #brand-title {
        font-size: 48px;
    }

    #tagline {
        font-size: 16px;
    }

    #view-recipe {
        padding: 5px 30px 5px 10px;
        font-size: 14px;
    }

    /* Adjust Top Rated section */
    .TopRatedRecipe p {
        font-size: 24px;
    }

    #topRated-description {
        font-size: 16px;
        padding: 0 10px;
    }

    .topRatedFood {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 15px;
    }

    .food-card img {
        height: 120px;
    }

    .food-card h3 {
        font-size: 18px;
    }

    /* Footer adjustments */
    .copyrights {
        height: 200px;
        top: 30vh;
    }
}
